.contact-links{
    /* background-color: white; */
    font-size: 70px;
    padding-left: 20px;
    /* margin-bottom: 400px; */
}

.fa:hover {
  cursor: pointer;
  transition: 0.5s;
  text-shadow: 1px 1px 10px white, 0 0 15px white, 0 0 20px white;

}
.fa{
   color: rgb(76, 114, 185);
}