.highlight {
    border: solid 2px red !important;
}

.grid {
    display: flex;
    justify-content: center;
    
}
.synth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    padding:0 20px 0 20px;
    margin-right: 270px;

}
.all-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding:20px;
    margin-right: 160px;
    border: grey 1px solid;
    border-radius: 10px;
    margin-top: 10px;
}

.row {
    display: flex;

}
.label {
    display: block;
    position: relative;
    margin: 5px 10px 10px 10px;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.label .checkbox-custom {
    position: absolute;
    height: 35px;
    width: 35px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
    opacity: 0.6;
}


.label input:checked ~ .checkbox-custom {
    background-color: red;
    opacity:0.5;
    border: 2px solid #FFFFFF;
}


/* For Ripple Effect */
.label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


