.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.all-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


label{
    color: White;
    /* background-color: aqua; */
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,ＭＳ Ｐゴシック,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    /* margin-top: 10px; */
    font-weight: bold;
}

.row {
    display: flex;

}
.label {
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.label .checkbox-custom {
    position: absolute;

    height: 30px;
    width: 30px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
    transition: 0.2s;
}


.label input:checked ~ .checkbox-custom {
    background-color: red;
    opacity:1;
    border: 2px solid #FFFFFF;
}


/* For Ripple Effect */
.label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);    
}

.label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


